<div>
        <table class="table table-condensed">
            <thead>
            <h1>Alias:{{hero.alias}}</h1>
            <h1>AlterEgo:{{hero.alterEgo}}</h1>
            <h1>abilities:{{hero.abilities}}</h1>
            </thead>
            <tbody>

            </tbody>
        </table>

    <table class="table table-condensed">

        <h1>Teams</h1>
        <thead>
        <th>Name</th>
        <th>Value</th>
        </thead>
        <tbody>
        <tr ng-repeat="team in hero.teams">
            <td><a href="#/team/{{team.id}}">{{team.name}}</a></td>
            <td><button type="button" class="btn btn-default" data-ng-click="removeHeroFromTeam(team.id)">remove hero</button></td>
        </tr>
        </tbody>
    </table>



    <button type="button" class="btn btn-default" data-ng-click="getTeams(hero.id)">Add team</button>






    <div>

        <div id="addHeroes" style="display:none">
            <h1>Add to team</h1>





            <div>
                <form ng-submit="submitTeam(hero.id)">


                    <select ng-model="selectedTeam" ng-options="addTeam as addTeam.name for addTeam in addTeams" value="{{addTeam}}">{{addTeam.name}}</select>


                    <input type="submit" class="btn btn-default" value="Save"/>
                </form>
            </div>


        </div>
    </div>
</div>
</div>


